@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}

.image {
  width: 80px;
  height: 80px;
  margin-top: 100px;
  animation: spin 1s linear infinite;
}
