.page404 {
  width: 100%;
  height: auto;
}

.page404Block {
  display: flex;
  flex-direction: column;
}

.text404 {
  margin: 0 auto 3vw;
  user-select: none;
}

.gif404 {
  margin: 0 auto 1vw;
  width: 70vw;
  height: auto;
}

.button404 {
  margin: 0 auto;
  -webkit-transition: text-shadow .3s;
  transition: text-shadow .3s;
}

.button404:focus,
.button404:hover {
  text-shadow: .5px 0 0, -.5px 0 0;
}
